name: Deploy
run-name: "Efetuando o deploy nas plataformas"

on:
  push:
    branches: 
        [main]
  pull_request:
    branches: [main]

env: 
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  PORT: ${{ secrets.PORT }}
  SECRET: ${{ secrets.SECRET }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - name: Clone do repositório no runner
        uses: actions/checkout@v4

      - name: Setup do node no backend
        uses: actions/setup-node@v4
        with: 
            node-version: ${{ matrix.node-version}}
            cache: 'npm'
            cache-dependency-path: backend/package-lock.json
 
      - name: Configurando o backend
        run: |
            cd backend/

            echo "Configurando variável de ambiente"
            touch .env
            echo -e "DATABASE_URL=${{ env.DATABASE_URL }}\nPORT=${{ env.PORT }}\nSECRET=${{ env.SECRET }}" >> .env

            echo "Instalando dependências"
            npm ci
    
      - name: Setup do node no frontend
        uses: actions/setup-node@v4
        with:
            node-version: ${{ matrix.node-version }}
            cache: 'npm'
            cache-dependency-path: frontend/package-lock.json
        
      - name: Configurando o frontend
        run: |
          cd frontend/

          echo "Instalando as depências"
          npm ci
    
      - name: Fazendo deploy do backend no reder
        run: |
          echo "Fazendo deploy do backend..."

          curl --request POST \
              --url https://api.render.com/v1/services/${{ secrets.ID_BACKEND_RENDER }}/deploys \
              -H 'accept: application/json' \
              -H 'content-type: application/json' \
              -H 'Authorization: Bearer ${{ secrets.CHAVE_DEPLOY_BACKEND_RENDER }}' \
              -d '{"clearCache": "do_not_clear"}'\

      - name: Fazendo deploy do frontend na vercel
        run: |
          cd frontend/

          echo "Fazendo deploy do frontend... "
          curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_T5EPGTlzud48a2aWHq5hoPzMZ1xk/LcZrtlvDrt
      
      

